:root {
  --primary-color: #e0354b;
}

.Notifications {
  border: 1px dashed var(--primary-color);
  padding: 20px;
}
.Notifications [data-priority='default'] {
  color: blue;
}

.Notifications [data-priority='urgent'] {
  color: var(--primary-color);
}
